{% extends 'baseAdmin.html.twig' %}

{% block title %}Datos de contacto {% endblock %}

{% block body %}
    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">
                <h3 class="card-title text-bold text-gray">Datos de contacto </h3>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered table-striped dataTable">
                <thead class="table-custom-header">
                <tr>
                    <th>No.</th>
                    <th>Teléfono</th>
                    <th>Teléfono celular</th>
                    <th>Correo</th>
                </tr>
                </thead>
                <tbody>
                {% for item in registros %}
                    <tr>
                        <td width="1%">{{ loop.index }}</td>
                        <td><input style="width: 90%" class="form-control" type="tel" id="dc_telefono_{{ item.id }}"
                                   name="dc_telefono_{{ item.id }}" value="{{ item.telefono }}"></td>
                        <td><input style="width: 90%" class="form-control" type="text" id="dc_telefonoCelular_{{ item.id }}"
                                   name="dc_telefonoCelular_{{ item.id }}" value="{{ item.telefonoCelular }}"></td>
                        <td><input style="width: 90%" class="form-control" type="email" id="dc_correo_{{ item.id }}"
                                   name="dc_correo_{{ item.id }}" value="{{ item.correo }}"></td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('input[id*="dc_"]').on('blur', function (e) {
            var valor = $(this).val();
            var campo = e.currentTarget.id.split('_')[1];
            var id = e.currentTarget.id.split('_')[2];
            HoldOn.open({
                theme: "sk-cube-grid",
                message: 'Por favor espere...',
                textColor: "white"
            });
            $.post("{{ path('app_datos_contacto_guardar') }}",
                {
                    id: id,
                    campo: campo,
                    valor: valor,
                },
                function (data) {
                    toastr.success("El elemento ha sido modificado correctamente.");
                    setTimeout(function () {
                        $(window).attr('location', window.location)
                    }, 500);
                    HoldOn.close()
                });
        })
    </script>
{% endblock %}