{% extends 'baseAdmin.html.twig' %}

{% block title %}Contáctenos{% endblock %}

{% block body %}

    {% include 'pages/modalDetail.html.twig' %}

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">
                <h3 class="card-title text-bold text-gray">Listado de contáctenos</h3>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered table-striped dataTable">
                <thead class="table-custom-header">
                <tr>
                    <th>No.</th>
                    <th>Nombre/Alias</th>
                    <th>Correo</th>
                    <th>Mensaje</th>
                    <th>Fecha de registro</th>
                    <th>Fecha de actualización</th>
                    <th class="text-center">Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for item in registros %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ item.nombre | default('') }}</td>
                        <td>{{ item.correo | default('') }}</td>
                        <td>{{ item.mensaje | default('') }}</td>
                        <td>{{ item.creado | date('d/m/Y H:i:s A') }}</td>
                        <td>{{ item.actualizado | date('d/m/Y H:i:s A') }}</td>


                        <td class="text-center">
                            <button title="Eliminar" class="btn btn-outline-danger elementRemove"
                                    data-url="{{ path('app_contactenos_eliminar', {'id': item.id}) }}">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        <!-- /.card-body -->
    </div>

{% endblock %}
