<style>
    .card-modal-responsable {
        background-color: #f7f7f7;
        border-radius: 5px;
        padding: 12px;
        margin: 5px;
        display: flex;
        align-items: center;
    }
</style>


<div class="modal fade" id="modalDetailResponsable" tabindex="-1" role="dialog" aria-labelledby="modalDetailResponsable"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="modalDetailResponsableLabel">Información de los
                    responsables</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modalDetailResponsableBody">


                <div class="row">
                    {% if responsables | length > 0 %}
                        <div class="col-12">
                            <div class="row" style="padding-left: 5px; padding-right: 5px; margin-left: 5px">
                                <h6 class="text-muted font-italic"> Responsable(s) para el indicador:
                                    <b>{{ indicador.nombre }}</b></h6>
                            </div>
                        </div>
                    {% endif %}

                    {% for responsable in responsables %}
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="card card-widget widget-user shadow">
                                <!-- Add the bg color to the header using any of the bg-* classes -->
                                <div class="widget-user-header bg-info">
                                    <h3 class="widget-user-username">{{ responsable.responsable.primerNombre ~ ' ' ~ responsable.responsable.segundoNombre ~ ' ' ~ responsable.responsable.primerApellido ~ ' ' ~ responsable.responsable.segundoApellido }}</h3>
                                    <h5 class="widget-user-desc">{{ responsable.responsable.responsabilidad.nombre }}</h5>
                                </div>
                                <div class="widget-user-image">
                                    {% if responsable.responsable.foto %}
                                        <img class="img-circle elevation-2"
                                             src="{{ app.request.getSchemeAndHttpHost() }}/uploads/images/personas/{{ responsable.responsable.foto }}"
                                             style="height: 90px; object-fit: cover;"
                                             alt="User Avatar">
                                    {% else %}
                                        <img class="img-circle elevation-2"
                                             src="{{ asset('assets/images/usuario.png') }}"
                                             alt="User Avatar">
                                    {% endif %}

                                </div>
                                <div class="card-footer" style="margin-top: -8px">

                                    <div class="col-12">
                                        <hr class="mb-2">
                                        <p class="mb-0"><b>Correo:</b> {{ responsable.responsable.email }}</p>
                                        <hr class="mt-2 mb-2">
                                    </div>

                                    <div class="col-12">
                                        <p class="mb-0 mt-0"><b>Teléfono:</b> {{ responsable.responsable.telefono }}</p>
                                        <p class="mb-0 mt-0"><b>Celular:</b> {{ responsable.responsable.celular }}</p>
                                        <hr class="mt-2">
                                    </div>

                                    <div class="col-12">
                                        <p class="mb-0 mt-0"><b>Twitter:</b> {{ responsable.responsable.twitter }}</p>
                                        <hr class="mt-2">
                                    </div>

                                    <div class="col-12 text-center">
                                        <i class="fas fa-tasks cti" style="cursor: pointer; color: #682423;" data-toggle="tooltip" data-id="{{ responsable.responsable.id }}" data-placement="top" title="Crear tarea"></i>
                                        {% if responsable.responsable.celular %}
                                        <a href="tel:{{ responsable.responsable.celular }}"><i class="fas fa-phone ml-2" style="cursor: pointer; color: #682423;" data-toggle="tooltip" data-placement="top" title="Llamar"></i></a>
                                        {% endif %}
                                    </div>


                                    <!-- /.row -->
                                </div>
                            </div>


                        </div>

                    {% else %}
                        <div class="col-12">
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                No existen responsables para el indicador:<strong> {{ indicador.nombre }} </strong>
                            </div>
                        </div>

                    {% endfor %}


                </div>
            </div>
            {# <div class="modal-footer"> #}
            {# <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button> #}
            {# </div> #}
        </div>
    </div>
</div>

<div class="modal fade" id="modalCreateTaskTO" tabindex="-1" role="dialog" aria-labelledby="modalCreateTaskTO" aria-hidden="true">
    <div class="modal-dialog  modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="modalDetailLabel">Crear tarea</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modalDetailBody">
                <textarea id="title" name="title" class="form-control" placeholder="Título"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary guardar" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })


    $('.cti').click(function () {
        resp = $(this).data('id');
        $('#modalCreateTaskTO').modal('show');
    })

    $(".guardar").click(function () {
        let titulo = $('#title').val();
        HoldOn.open({
            theme: "sk-cube-grid",
            message: 'Por favor espere...',
            textColor: "white"
        });
        $.ajax({
            type: "POST",
            cache: false,
            url: "{{ path('adicionar_todo_cliente_para') }}",
            data: {
                'titulo': titulo,
                'id' : resp
            },
            dataType: "json",
            success: function (res) {

                HoldOn.close()
                toastr.success('Tarea creada correctamente')
                // document.location = document.location.href;
            },
            error: function (err) {

            }
        });
    })

</script>