{% extends 'base.html.twig' %}

{% block title %}Actividades{% endblock %}

{% block stylesheets %}
    <style>
        .fc-daygrid-day-events {
            cursor: pointer;
        }
        .content-wrapper, .main-header {
            margin-left: 0 !important;
        }
    </style>
{% endblock %}

{% block sidebar %}{% endblock %}


{% block body %}

    {% include 'pages/modalDetail.html.twig' %}

    <div class="card shadow">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">
                <h3 class="card-title text-bold text-gray">Listado de actividades</h3>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div id="calendar"></div>
        </div>
        <!-- /.card-body -->
    </div>



{% endblock %}
{% block javascripts %}
    <script>
        var Calendar = FullCalendar.Calendar;
        var calendarEl = document.getElementById('calendar');
        let events = [];

        {% for element in registros %}
        newEvent = {
            title: '{{ element.nombre }}',
            start: '{{ element.fechaInicio | date('Y-m-d H:i:s') }}',
            end: '{{ element.fechaFin | date('Y-m-d H:i:s') }}',
            id: '{{ element.id }}'
        }
        events.push(newEvent);
        {% endfor %}

        var calendar = new Calendar(calendarEl, {
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            // height: 'auto',
            themeSystem: 'bootstrap',
            //Random default events
            events: events,
            editable: false,
            locale: 'es',
            eventDidMount: function (info) {
                $(info.el).tooltip({
                    title: info.event._def.title,
                    placement: "top",
                    trigger: "hover",
                    container: "body"
                });
            },
            eventClick: function (info) {
                let title = 'Detalles de la actividad'
                HoldOn.open({
                    theme: "sk-bounce",
                    message: 'Por favor espere...',
                    textColor: "white"
                });
                var url = '{{ path("app_actividad_detail", {'id': 'actividad_id'}) }}';
                url = url.replace("actividad_id", info.event._def.publicId);
                $.get(url,
                    function (data) {
                        $('#modalDetail').modal('show')
                        $('#modalDetailLabel').text(title)
                        $('.modalDetailBody').html(data)
                        HoldOn.close()
                    });
            },
            selectable: false, //esto permite que se cambie el color de una fecha al dar click
            dateClick: function (info) {

            },
        });
        calendar.render();

        $('.menuAmburguesa').remove()
    </script>
{% endblock %}