<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column nav-legacy nav-child-indent" data-widget="treeview"
        role="menu"
        data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->

        <li class="nav-item">
            <a href="{{ path('app_catalogo_home') }}"
               class="nav-link nav-link-menu  {% if 'app_catalogo_home' in app.request.get('_route') %} active {% endif %}">
                <i class="nav-icon fas fa-home"></i>
                <p>
                    Inicio
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="#"
               class="nav-link nav-link-menu">
                <i class="nav-icon fas fa-cog"></i>
                <p>
                    Configuraciones
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="{{ path('app_tipo_ruta_index') }}"
                       class="nav-link nav-link-menu">
                        <p>Tipos de rutas</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_clasificacion_ruta_index') }}"
                       class="nav-link nav-link-menu">
                        <p>Clasificaciones de rutas</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_grupo_index') }}"
                       class="nav-link nav-link-menu">
                        <p>Grupos</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_region_index') }}"
                       class="nav-link nav-link-menu">
                        <p>Regiones</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_territorio_index') }}"
                       class="nav-link nav-link-menu">
                        <p>Territorios</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_cedis_index') }}"
                       class="nav-link nav-link-menu">
                        <p>Cedis</p>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>