<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column nav-legacy nav-child-indent" data-widget="treeview"
        role="menu"
        data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->


        <li class="nav-item">
            <a href="#"
               class="nav-link nav-link-menu">
                <i class="nav-icon fas fa-cog"></i>
                <p>
                    Restaurant
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                {#                <li class="nav-item"> #}
                {#                    <a href="{{ path('app_evento_index') }}" #}
                {#                       class="nav-link nav-link-menu"> #}
                {#                        <p>Eventos</p> #}
                {#                    </a> #}
                {#                </li> #}
                {#                <li class="nav-item"> #}
                {#                    <a href="{{ path('app_maridaje_index') }}" #}
                {#                       class="nav-link nav-link-menu"> #}
                {#                        <p>Maridajes</p> #}
                {#                    </a> #}
                {#                </li> #}
                {#                <li class="nav-item"> #}
                {#                    <a href="{{ path('app_catering_index') }}" #}
                {#                       class="nav-link nav-link-menu"> #}
                {#                        <p>Caterings</p> #}
                {#                    </a> #}
                {#                </li> #}
                <li class="nav-item">
                    <a href="{{ path('app_portada_web_index') }}"
                       class="nav-link nav-link-menu">
                        <p>Portadas</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_servicio_index') }}"
                       class="nav-link nav-link-menu">
                        <p>Servicios</p>
                    </a>
                </li>

                {#                <li class="nav-item"> #}
                {#                    <a href="{{ path('app_experiencia_gastronomica_index') }}" #}
                {#                       class="nav-link nav-link-menu"> #}
                {#                        <p>Experiencias gastronómicas</p> #}
                {#                    </a> #}
                {#                </li> #}
                {#                <li class="nav-item"> #}
                {#                    <a href="{{ path('app_experiencia_culinaria_index') }}" #}
                {#                       class="nav-link nav-link-menu"> #}
                {#                        <p>Experiencias culinarias</p> #}
                {#                    </a> #}
                {#                </li> #}
                <li class="nav-item">
                    <a href="{{ path('app_menu_index') }}"
                       class="nav-link nav-link-menu">
                        <p>Menús</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_plato_index') }}"
                       class="nav-link nav-link-menu">
                        <p>Platos</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_espacio_index') }}"
                       class="nav-link nav-link-menu">
                        <p>Espacios</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_contactenos_index') }}"
                       class="nav-link nav-link-menu">
                        <p>Contáctenos</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_reservacion_mesa_index') }}"
                       class="nav-link nav-link-menu">
                        <p>Reservaciones de mesa</p>
                    </a>
                </li>

            </ul>
        </li>

        <li class="nav-item">
            <a href="#"
               class="nav-link nav-link-menu">
                <i class="nav-icon fas fa-cog"></i>
                <p>
                    Configuración
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="{{ path('app_sobre_index') }}"
                       class="nav-link nav-link-menu">
                        <p>Sobre</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_reserva_index') }}"
                       class="nav-link nav-link-menu">
                        <p>Reserva</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_datos_contacto_index') }}"
                       class="nav-link nav-link-menu">
                        <p>Datos de contacto</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_terminos_condiciones_index') }}"
                       class="nav-link nav-link-menu">
                        <p>Términos y condiciones</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_conocenos_index') }}"
                       class="nav-link nav-link-menu">
                        <p>Conócenos</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_red_social_index') }}"
                       class="nav-link nav-link-menu">
                        <p>Redes sociales</p>
                    </a>
                </li>
                {#                <li class="nav-item"> #}
                {#                    <a href="{{ path('app_tipo_evento_index') }}" #}
                {#                         class="nav-link nav-link-menu"> #}
                {#                        <p>Tipos de eventos</p> #}
                {#                    </a> #}
                {#                </li> #}
                {#                <li class="nav-item"> #}
                {#                    <a href="{{ path('app_tipo_catering_index') }}" #}
                {#                       class="nav-link nav-link-menu"> #}
                {#                        <p>Tipos de caterings</p> #}
                {#                    </a> #}
                {#                </li> #}
                {#                <li class="nav-item"> #}
                {#                    <a href="{{ path('app_tipo_maridaje_index') }}" #}
                {#                       class="nav-link nav-link-menu"> #}
                {#                        <p>Tipos de maridajes</p> #}
                {#                    </a> #}
                {#                </li> #}
                {#                <li class="nav-item"> #}
                {#                    <a href="{{ path('app_tipo_experiencia_culinaria_index') }}" #}
                {#                       class="nav-link nav-link-menu"> #}
                {#                        <p>Tipos de experiencias culinarias</p> #}
                {#                    </a> #}
                {#                </li> #}
                {#                <li class="nav-item"> #}
                {#                    <a href="{{ path('app_tipo_experiencia_gastronomica_index') }}" #}
                {#                       class="nav-link nav-link-menu"> #}
                {#                        <p>Tipos de experiencias gastronómicas</p> #}
                {#                    </a> #}
                {#                </li> #}
            </ul>
        </li>

    </ul>
</nav>