<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column nav-legacy nav-child-indent" data-widget="treeview"
        role="menu"
        data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->


        <li class="nav-item">
            <a href="#"
               class="nav-link nav-link-menu">
                <i class="nav-icon fas fa-cog"></i>
                <p>
                    Restaurant
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="{{ path('app_portada_web_index') }}"
                       class="nav-link nav-link-menu">
                        <p>Portadas</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_servicio_index') }}"
                       class="nav-link nav-link-menu">
                        <p>Servicios</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_menu_index') }}"
                       class="nav-link nav-link-menu">
                        <p>Menús</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_plato_index') }}"
                       class="nav-link nav-link-menu">
                        <p>Platos</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_espacio_index') }}"
                       class="nav-link nav-link-menu">
                        <p>Espacios</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_contactenos_index') }}"
                       class="nav-link nav-link-menu">
                        <p>Contáctenos</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_reservacion_mesa_index') }}"
                       class="nav-link nav-link-menu">
                        <p>Reservaciones de mesa</p>
                    </a>
                </li>

            </ul>
        </li>

        <li class="nav-item">
            <a href="#"
               class="nav-link nav-link-menu">
                <i class="nav-icon fas fa-cog"></i>
                <p>
                    Configuración
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="{{ path('app_tiempo_index') }}"
                       class="nav-link nav-link-menu">
                        <p>Tiempo de reservación</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_sobre_index') }}"
                       class="nav-link nav-link-menu">
                        <p>Sobre</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_reserva_index') }}"
                       class="nav-link nav-link-menu">
                        <p>Reserva</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_datos_contacto_index') }}"
                       class="nav-link nav-link-menu">
                        <p>Datos de contacto</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_terminos_condiciones_index') }}"
                       class="nav-link nav-link-menu">
                        <p>Términos y condiciones</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_conocenos_index') }}"
                       class="nav-link nav-link-menu">
                        <p>Quienes somos</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_red_social_index') }}"
                       class="nav-link nav-link-menu">
                        <p>Redes sociales</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_tasa_cambio_index') }}"
                       class="nav-link nav-link-menu">
                        <p>Tasa de cambio</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_politica_cancelacion_index') }}"
                       class="nav-link nav-link-menu">
                        <p>Política de cancelación</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_metodo_pago_index') }}"
                       class="nav-link nav-link-menu">
                        <p>Métodos de pago</p>
                    </a>
                </li>
            </ul>
        </li>

    </ul>
</nav>