<div class="row">
    <div class="col-6">
        <h5 class="mb-0"><b>Clave:</b> {{ item.clave | default('') }}</h5>
        <h5 class="mb-0"><b>Cedis:</b> {{ item.cedis | default('') }}</h5>
        <h5 class="mb-0"><b>Territorio:</b> {{ item.territorio.territorio | default('') }}</h5>
        <h5 class="mb-0"><b>Compañía:</b> {{ item.compania.nombre | default('') }}</h5>
    </div>
    <div class="col-6">
        <h5 class="mb-0"><b>Cedis nueva:</b> {{ item.cedisNuevo | default('') }}</h5>
        {% if '1' == item.activo %}
            <h5 class="mb-0"><b>Estado:</b> Habilitado</h5>
        {% else %}
            <h5 class="mb-0"><b>Estado:</b> Deshabilitado</h5>
        {% endif %}
        <h5 class="mb-0"><b>Grupo:</b> {{ item.grupo.grupo | default('') }}</h5>
    </div>
</div>

