{% extends 'baseAdmin.html.twig' %}

{% block title %}Países{% endblock %}

{% block body %}

    {% include 'pages/modalDetail.html.twig' %}

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">

                <h3 class="card-title text-bold text-gray">Listado de países</h3>

            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered table-striped dataTable">
                <thead class="table-custom-header">
                <tr>
                    <th>No.</th>
                    <th>Nombre</th>
                    <th>Iso2</th>
                    <th>Iso3</th>
                    <th>Código telefónico</th>
                </tr>
                </thead>
                <tbody>
                {% for item in registros %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ item.nombre | default('') }}</td>
                        <td>{{ item.iso2 | default('') }}</td>
                        <td>{{ item.iso3 | default('') }}</td>
                        <td>{{ item.codigoTelefonico | default('') }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        <!-- /.card-body -->
    </div>

{% endblock %}
