<div class="card">
    <div class="card-body">
        <div class="row">            
            <div class="col-5">
                <h5 class="mb-0"><b>Nombre:</b> {{ item.nombre ~ ' ' ~ item.apellido }}</h5>
                <h5 class="mb-0"><b>Usuario del sistema:</b> {{ item.userchat }}</h5>                
            </div>
            <div class="col-5">                           
                <h5 class="mb-0"><b>Usuario del chat:</b> {{ item.usuario | default('') }}</h5>
                <h5 class="mb-0"><b>Alias:</b> {{ item.nickname | default('') }}</h5>
                <h5 class="mb-0"><b>Correo:</b> {{ item.email | default('') }}</h5>                
            </div>
        </div>
        <div class="row">   
            <div class="col-12">
                <h5 class="mb-0"><b>Error:</b> {{ item.error | default('') }}</h5>
            </div>
        </div>
    </div>
</div>