{% extends 'baseAdmin.html.twig' %}

{% block title %}Chat{% endblock %}

{% block body %}

    {% include 'pages/modalDetail.html.twig' %}

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">
                <h3 class="card-title text-bold text-gray">Listado de usuarios del chat</h3>
                <div>                    
                    <button class="btn btn-outline-primary modalDetailAction"
                                    data-url="{{ path('app_chat_con') }}"
                                    data-title="Probar conexión">
                                <i class="fa fa-link"></i>
                    </button>                    
                </div>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered table-striped dataTable">
                <thead class="table-custom-header">
                <tr>
                    <th>No.</th>
                    <th>Persona</th>
                    <th>Usuario</th>
                    <th class="text-center">Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for item in registros %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ item.nombre ~ ' ' ~ item.apellido}}</td>  
                        <td>{{ item.userchat }}</td>                       
                        <td class="text-center">
                            <button class="btn btn-outline-primary modalDetailAction"
                                    data-url="{{ path('app_chat_detail', {'id' : item.id}) }}"
                                    title="Detalles del usuario">
                                <i class="fa fa-eye "></i>
                            </button>
                            <a class="btn btn-outline-primary" title="Sincronizar usuario"
                               href="{{ path('app_chat_sincronizar', {'id': item.id}) }}"><i
                                        class="fa fa-undo"></i>
                            </a>                            
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        <!-- /.card-body -->
    </div>

{% endblock %}
