<div class="row">
    <div class="col-6">
        <h5 class="mb-0"><b>Imagen:</b></h5>
        <h5 class="mb-0"><a
                    href="{% if item.imagen != null %}{{ app.request.getSchemeAndHttpHost() }}/uploads/images/sobre/imagen/{{ item.imagen }} {% else %} /assets/images/usuario.png {% endif %}"
                    target="_blank">
                <img src="{% if item.imagen != null %}{{ app.request.getSchemeAndHttpHost() }}/uploads/images/sobre/imagen/{{ item.imagen }}{% else %} /assets/images/usuario.png {% endif %}"
                     class="img-circle" style="width: 80px;height: 80px; object-fit: cover">
            </a></h5>

    </div>
</div>
<div class="row">
    <div class="col-12">
        <h5 class="mb-0"><b>Descripción:</b> {{ item.descripcion  | raw }}</h5>
    </div>
</div>

