{% extends 'baseAdmin.html.twig' %}

{% block title %}Adicionar perfil{% endblock %}

{% block body %}

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">

                <h3 class="card-title text-bold text-gray">Adicionar perfil</h3>

            </div>
        </div>
        <!-- /.card-header -->
        {{ form_start(form) }}
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.nombre) }}
                    {{ form_widget(form.nombre) }}
                    {{ form_errors(form.nombre) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.phone) }}
                    {{ form_widget(form.phone) }}
                    {{ form_errors(form.phone) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.password.first) }}
                    {{ form_widget(form.password.first) }}<span
                            class="fa fa-fw fa-eye password-icon show-password"></span>
                    {{ form_errors(form.password.first) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.password.second) }}
                    {{ form_widget(form.password.second) }}
                    {{ form_errors(form.password.second) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.activo) }}
                    {{ form_widget(form.activo) }}
                    {{ form_errors(form.activo) }}
                </div>

            </div>

        </div>
        <div class="card-footer" style="display: flex; justify-content: flex-end; align-items: center;">
            <a class="btn btn-danger mr-2 btn-cancel" data-url="{{ path('app_perfil_index') }}" data-title=""
               data-content="¿Está seguro que desea realizar la acción?" type="button">Cancelar</a>
            <button class="btn btn-primary">Aceptar</button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
 {% block stylesheets %}
     <style>
         .password-icon {
             float: right;
             position: relative;
             margin: -25px 10px 0 0;
             cursor: pointer;
         }
     </style>
 {% endblock %}

{% block javascripts %}
    <script>
        window.addEventListener("load", function () {
            // icono para mostrar contraseña
            showPassword = document.querySelector('.show-password');
            showPassword.addEventListener('click', () => {

                // elementos input de tipo clave
                password1 = $('#perfil_clave_first');
                password2 = $('#perfil_clave_second');

                if (password1.attr('type') === "text") {
                    password1.attr('type', "password")
                    password2.attr('type', "password")
                    showPassword.classList.remove('fa-eye-slash');
                } else {
                    password1.attr('type', "text")
                    password2.attr('type', "text")
                    showPassword.classList.toggle("fa-eye-slash");
                }
            })
        });
    </script>
{% endblock %}