{% extends 'baseAdmin.html.twig' %}

{% block title %}Portadas{% endblock %}

{% block body %}

    {% include 'pages/modalDetail.html.twig' %}

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">

                <h3 class="card-title text-bold text-gray">Listado de portadas</h3>
                <a title="Adicionar" class="btn btn-primary mr-2" href="{{ path('app_portada_web_registrar') }}"><i
                            class="fa fa-plus"></i>
                </a>

            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered table-striped dataTable">
                <thead class="table-custom-header">
                <tr>
                    <th>No.</th>
                    <th>Imagen 1</th>
                    <th>Imagen 2</th>
                    <th>Imagen 3</th>
                    <th>Imagen 4</th>
                    <th>Descripción</th>
                    <th>Publicado</th>
                    <th>Estado</th>
                    <th class="text-center">Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for item in registros %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>
                            <a href="{% if item.imagen != null %}{{ app.request.getSchemeAndHttpHost() }}/uploads/images/portada_web/imagen/{{ item.imagen }} {% else %} /assets/images/usuario.png {% endif %}"
                               target="_blank">
                                <img src="{% if item.imagen != null %}{{ app.request.getSchemeAndHttpHost() }}/uploads/images/portada_web/imagen/{{ item.imagen }}{% else %} /assets/images/usuario.png {% endif %}"
                                     class="img-circle" style="width: 40px;height: 40px; object-fit: cover">
                            </a>
                        </td>
                        <td>
                            <a href="{% if item.imagen2 != null %}{{ app.request.getSchemeAndHttpHost() }}/uploads/images/portada_web/imagen2/{{ item.imagen2 }} {% else %} /assets/images/usuario.png {% endif %}"
                               target="_blank">
                                <img src="{% if item.imagen2 != null %}{{ app.request.getSchemeAndHttpHost() }}/uploads/images/portada_web/imagen2/{{ item.imagen2 }}{% else %} /assets/images/usuario.png {% endif %}"
                                     class="img-circle" style="width: 40px;height: 40px; object-fit: cover">
                            </a>
                        </td>
                        <td>
                            <a href="{% if item.imagen3 != null %}{{ app.request.getSchemeAndHttpHost() }}/uploads/images/portada_web/imagen3/{{ item.imagen3 }} {% else %} /assets/images/usuario.png {% endif %}"
                               target="_blank">
                                <img src="{% if item.imagen3 != null %}{{ app.request.getSchemeAndHttpHost() }}/uploads/images/portada_web/imagen3/{{ item.imagen3 }}{% else %} /assets/images/usuario.png {% endif %}"
                                     class="img-circle" style="width: 40px;height: 40px; object-fit: cover">
                            </a>
                        </td>
                        <td>
                            <a href="{% if item.imagen4 != null %}{{ app.request.getSchemeAndHttpHost() }}/uploads/images/portada_web/imagen4/{{ item.imagen4 }} {% else %} /assets/images/usuario.png {% endif %}"
                               target="_blank">
                                <img src="{% if item.imagen4 != null %}{{ app.request.getSchemeAndHttpHost() }}/uploads/images/portada_web/imagen4/{{ item.imagen4 }}{% else %} /assets/images/usuario.png {% endif %}"
                                     class="img-circle" style="width: 40px;height: 40px; object-fit: cover">
                            </a>
                        </td>

                        <td>{{ item.descripcion |default('') }}</td>
                        <td class="-text-center">
                            {% if '1' == item.publico %}
                                <span class="ms-status -active">Sí</span>
                            {% else %}
                                <span class="ms-status">No</span>
                            {% endif %}
                        </td>
                        <td class="-text-center">
                            {% if '1' == item.activo %}
                                <span class="ms-status -active">Habilitado</span>
                            {% else %}
                                <span class="ms-status">Deshabilitado</span>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <button title="Detalles" class="btn btn-outline-primary modalDetailAction"
                                    data-url="{{ path('app_portada_web_detail', {'id' : item.id}) }}"
                                    data-title="Detalles de la portada">
                                <i class="fa fa-eye "></i>
                            </button>
                            <a title="Modificar" class="btn btn-outline-primary"
                               href="{{ path('app_portada_web_modificar', {'id': item.id}) }}"><i
                                        class="fa fa-edit"></i>
                            </a>
                            {% if '1' == item.activo %}
                                <button title="{% if '1' == item.publico %} Ocultar {% else %} Publicar {% endif %}" class="{% if '0' == item.publico %} btn btn-outline-primary {% else %} btn btn-outline-secondary {% endif %} elementRemove"
                                        data-url="{{ path('app_portada_web_publicar', {'id': item.id}) }}">
                                    <i class="fa fa-check-circle"></i>
                                </button>
                            {% endif %}
                            <button title="Eliminar" class="btn btn-outline-danger elementRemove"
                                    data-url="{{ path('app_portada_web_eliminar', {'id': item.id}) }}">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        <!-- /.card-body -->
    </div>

{% endblock %}
