{% extends 'baseAdmin.html.twig' %}

{% block title %}Reservaciones de mesa{% endblock %}

{% block body %}

    {% include 'pages/modalDetail.html.twig' %}

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">
                <h3 class="card-title text-bold text-gray">Listado de reservaciones de mesa</h3>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered table-striped dataTable">
                <thead class="table-custom-header">
                <tr>
                    <th>No.</th>
                    <th>Identificador</th>
                    <th>Nombre completo</th>
                    <th>DNI</th>
                    <th>Celular</th>
                    <th>Usuario</th>
                    <th>Fecha</th>
                    <th>Inicio</th>
                    <th>Fin</th>
                    <th>Espacio</th>
                    <th>Cantidad de mesas</th>
                    <th>Estado</th>
                    <th class="text-center">Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for item in registros %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ item.ticket | default('') }}</td>
                        <td>{{ item.nombreCompleto | default('') }}</td>
                        <td>{{ item.dni | default('') }}</td>
                        <td>{{ item.celular | default('') }}</td>
                        <td>{{ item.email | default('') }}</td>
                        <td>{{ item.fechaReservacion | default('') }}</td>
                        <td>{{ item.horaInicio | default('') }}</td>
                        <td>{{ item.horaFin | default('') }}</td>
                        <td>{{ item.nombreCorteEspacio | default('') }}</td>
                        <td>{{ item.cantidadMesa | default('') }}</td>
                        <td class="-text-center">
                            {% if 'Activa' == item.estado %}
                                <span class="ms-status -active">{{ item.estado }}</span>
                            {% endif %}
                            {% if 'Terminada' == item.estado %}
                                <span class="ms-status -info">{{ item.estado }}</span>
                            {% endif %}
                            {% if 'Expirada' == item.estado %}
                                <span class="ms-status">{{ item.estado }}</span>
                            {% endif %}
                        </td>
                        <td class="text-center" width="10%">
                            {% if 'Activa' == item.estado %}
                                <button title="Eliminar" class="btn btn-outline-danger elementRemove"
                                        data-url="{{ path('app_reservacion_mesa_eliminar', {'id': item.id}) }}">
                                    <i class="fa fa-trash"></i>
                                </button>
                                <button title="Terminar reservación" class="btn btn-outline-primary elementRemove"
                                        data-url="{{ path('app_reservacion_mesa_terminar', {'id': item.id}) }}">
                                    <i class="fa fa-hammer"></i>
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        <!-- /.card-body -->
    </div>

{% endblock %}
