<div class="row">
    <div class="col-6">
        <h5 class="mb-0"><b>Categoría:</b> {{ item.categoria | default('') }}</h5>
        <h5 class="mb-0"><b>Nombre corto:</b> {{ item.nombreCorto | default('') }}</h5>
        <h5 class="mb-0"><b>Cantidad de mesas:</b> {{ item.cantidadMesa | default('0') }}</h5>
        {% if '1' == item.publico %}
            <h5 class="mb-0"><b>Publico:</b> Sí</h5>
        {% else %}
            <h5 class="mb-0"><b>Publico:</b> No </h5>
        {% endif %}
        {% if '1' == item.reservar %}
            <h5 class="mb-0"><b>Se reserva:</b> Sí</h5>
        {% else %}
            <h5 class="mb-0"><b>Se reserva:</b> No </h5>
        {% endif %}
        <h5 class="mb-0"><b>Imagen de portada:</b></h5>
        <h5 class="mb-0"><a
                    href="{% if item.imagenPortada != null %}{{ app.request.getSchemeAndHttpHost() }}/uploads/images/espacio/imagenPortada/{{ item.imagenPortada }} {% else %} /assets/images/usuario.png {% endif %}"
                    target="_blank">
                <img src="{% if item.imagenPortada != null %}{{ app.request.getSchemeAndHttpHost() }}/uploads/images/espacio/imagenPortada/{{ item.imagenPortada }}{% else %} /assets/images/usuario.png {% endif %}"
                     class="img-circle" style="width: 80px;height: 80px; object-fit: cover">
            </a></h5>
        <h5 class="mb-0"><b>Imagen de banner:</b></h5>
        <h5 class="mb-0"><a
                    href="{% if item.imagenBanner != null %}{{ app.request.getSchemeAndHttpHost() }}/uploads/images/espacio/imagenBanner/{{ item.imagenBanner }} {% else %} /assets/images/usuario.png {% endif %}"
                    target="_blank">
                <img src="{% if item.imagenBanner != null %}{{ app.request.getSchemeAndHttpHost() }}/uploads/images/espacio/imagenBanner/{{ item.imagenBanner }}{% else %} /assets/images/usuario.png {% endif %}"
                     class="img-circle" style="width: 80px;height: 80px; object-fit: cover">
            </a></h5>

    </div>
    <div class="col-6">
        <h5 class="mb-0"><b>Nombre largo:</b> {{ item.nombreLargo | raw }}</h5>
        {% if '1' == item.activo %}
            <h5 class="mb-0"><b>Estado:</b> Habilitado</h5>
        {% else %}
            <h5 class="mb-0"><b>Estado:</b> Deshabilitado</h5>
        {% endif %}

        <h5 class="mb-0"><b>Imagen detallada:</b></h5>
        <h5 class="mb-0"><a
                    href="{% if item.imagenDetallada != null %}{{ app.request.getSchemeAndHttpHost() }}/uploads/images/espacio/imagenDetallada/{{ item.imagenDetallada }} {% else %} /assets/images/usuario.png {% endif %}"
                    target="_blank">
                <img src="{% if item.imagenDetallada != null %}{{ app.request.getSchemeAndHttpHost() }}/uploads/images/espacio/imagenDetallada/{{ item.imagenDetallada }}{% else %} /assets/images/usuario.png {% endif %}"
                     class="img-circle" style="width: 80px;height: 80px; object-fit: cover">
            </a></h5>
        <h5 class="mb-0"><b>Imagen móvil:</b></h5>
        <h5 class="mb-0"><a
                    href="{% if item.imagenMovil != null %}{{ app.request.getSchemeAndHttpHost() }}/uploads/images/espacio/imagenMovil/{{ item.imagenMovil }} {% else %} /assets/images/usuario.png {% endif %}"
                    target="_blank">
                <img src="{% if item.imagenMovil != null %}{{ app.request.getSchemeAndHttpHost() }}/uploads/images/espacio/imagenMovil/{{ item.imagenMovil }}{% else %} /assets/images/usuario.png {% endif %}"
                     class="img-circle" style="width: 80px;height: 80px; object-fit: cover">
            </a></h5>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h5 class="mb-0"><b>Descripción:</b> {{ item.descripcion  | raw }}</h5>
    </div>
</div>

