<div class="row">
    <div class="col-6">
        <h5 class="mb-0"><b>Nombre:</b> {{ item.nombre | default('') }}</h5>
        <h5 class="mb-0"><b>Nombre largo:</b> {{ item.nombreLargo | raw }}</h5>

        {% if '1' == item.publico %}
            <h5 class="mb-0"><b>Publico:</b> Sí</h5>
        {% else %}
            <h5 class="mb-0"><b>Publico:</b> No </h5>
        {% endif %}
        <h5 class="mb-0"><b>Imagen:</b></h5>
        <h5 class="mb-0"><a
                    href="{% if item.imagen != null %}{{ app.request.getSchemeAndHttpHost() }}/uploads/images/plato/imagen/{{ item.imagen }} {% else %} /assets/images/usuario.png {% endif %}"
                    target="_blank">
                <img src="{% if item.imagen != null %}{{ app.request.getSchemeAndHttpHost() }}/uploads/images/plato/imagen/{{ item.imagen }}{% else %} /assets/images/usuario.png {% endif %}"
                     class="img-circle" style="width: 80px;height: 80px; object-fit: cover">
            </a></h5>

    </div>
    <div class="col-6">
        <h5 class="mb-0"><b>Precio:</b> {{ item.precio | raw }}</h5>
        {% if '1' == item.sugerenciaChef %}
            <h5 class="mb-0"><b>Sugerencia del Chef:</b> Sí</h5>
        {% else %}
            <h5 class="mb-0"><b>Sugerencia del Chef:</b> No </h5>
        {% endif %}

        {% if '1' == item.ofertaFamilia %}
            <h5 class="mb-0"><b>Oferta familiar:</b> Sí</h5>
        {% else %}
            <h5 class="mb-0"><b>Oferta familiar:</b> No </h5>
        {% endif %}
        {% if '1' == item.activo %}
            <h5 class="mb-0"><b>Estado:</b> Habilitado</h5>
        {% else %}
            <h5 class="mb-0"><b>Estado:</b> Deshabilitado</h5>
        {% endif %}

    </div>
</div>
<div class="row">
    <div class="col-12">
        <h5 class="mb-0"><b>Descripción:</b> {{ item.descripcion  | raw }}</h5>
    </div>
</div>

