{% extends 'baseAdmin.html.twig' %}

{% block title %}Servicios{% endblock %}

{% block body %}

    {% include 'pages/modalDetail.html.twig' %}

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">

                <h3 class="card-title text-bold text-gray">Listado de platos</h3>
                <a title="Adicionar" class="btn btn-primary mr-2" href="{{ path('app_plato_registrar') }}"><i
                            class="fa fa-plus"></i>
                </a>

            </div>
        </div>
        <!-- /.card-header -->
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" style="background: #134679">
                                <h4 class="card-title w-100">
                                    <a style="color: #FFFFFF" class="d-block w-100 collapsed" data-toggle="collapse"
                                       href="#collapseOne" aria-expanded="false">
                                        Búsqueda avanzada
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class=" " data-parent="#accordion" style="">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="sugerenciaChef">Sugerencia del Chef</label>
                                            <input type="checkbox"
                                                   name="check_sugerenciaChef"
                                                    {% if filtros['sugerenciaChef'] is defined and filtros['sugerenciaChef']=='true' %}
                                                        checked=""
                                                    {% endif %}
                                                   data-bootstrap-switch=""
                                                   data-off-color="danger"
                                                   data-on-color="success">


                                        </div>
                                        <div class="col-md-4">
                                            <label for="sugerenciaChef">Oferta familiar</label>
                                            <input type="checkbox"
                                                   name="check_ofertaFamilia"
                                                    {% if filtros['ofertaFamilia'] is defined and filtros['ofertaFamilia']=='true' %}
                                                        checked=""
                                                    {% endif %}
                                                   data-bootstrap-switch=""
                                                   data-off-color="danger"
                                                   data-on-color="success">


                                        </div>
                                        <div class="col-md-4">
                                            <label for="sugerenciaChef">Estado</label>
                                            <input type="checkbox"
                                                   name="check_activo"
                                                    {% if filtros['activo'] is defined and filtros['activo']=='true' %}
                                                        checked=""
                                                    {% endif %}
                                                   data-bootstrap-switch="0"
                                                   data-off-color="danger"
                                                   data-on-color="success">


                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped dataTable">
                <thead class="table-custom-header">
                <tr>
                    <th>No.</th>

                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Publicado</th>
                    <th>Estado</th>
                    <th class="text-center">Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for item in registros %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>
                            <a href="{% if item.imagen != null %}{{ app.request.getSchemeAndHttpHost() }}/uploads/images/plato/imagen/{{ item.imagen }} {% else %} /assets/images/usuario.png {% endif %}"
                               target="_blank">
                                <img src="{% if item.imagen != null %}{{ app.request.getSchemeAndHttpHost() }}/uploads/images/plato/imagen/{{ item.imagen }}{% else %} /assets/images/usuario.png {% endif %}"
                                     class="img-circle" style="width: 40px;height: 40px; object-fit: cover">
                            </a></td>

                        <td>{{ item.nombre | default('') }}</td>
                        <td>{{ item.precio | default('') }}</td>

                        <td class="-text-center">
                            {% if '1' == item.publico %}
                                <span class="ms-status -active">Sí</span>
                            {% else %}
                                <span class="ms-status">No</span>
                            {% endif %}
                        </td>
                        <td class="-text-center">
                            {% if '1' == item.activo %}
                                <span class="ms-status -active">Habilitado</span>
                            {% else %}
                                <span class="ms-status">Deshabilitado</span>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <button title="Detalles" class="btn btn-outline-primary modalDetailAction"
                                    data-url="{{ path('app_plato_detail', {'id' : item.id}) }}"
                                    data-title="Detalles del plato">
                                <i class="fa fa-eye "></i>
                            </button>
                            <a title="Modificar" class="btn btn-outline-primary"
                               href="{{ path('app_plato_modificar', {'id': item.id}) }}"><i
                                        class="fa fa-edit"></i>
                            </a>
                            {% if '1' == item.activo %}
                                <button title="{% if '1' == item.publico %} Ocultar {% else %} Publicar {% endif %}"
                                        class="{% if '0' == item.publico %} btn btn-outline-primary {% else %} btn btn-outline-secondary {% endif %} elementRemove"
                                        data-url="{{ path('app_plato_publicar', {'id': item.id}) }}">
                                    <i class="fa fa-check-circle"></i>
                                </button>
                            {% endif %}
                            <button title="Eliminar" class="btn btn-outline-danger elementRemove"
                                    data-url="{{ path('app_plato_eliminar', {'id': item.id}) }}">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        <!-- /.card-body -->
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        $("[name*='check_']").bootstrapSwitch();
        $("[name*='check_']").on('switchChange.bootstrapSwitch', function (event, state) {
            console.log(state);
            var campo = event.currentTarget.attributes.name.nodeValue.split('_');
            console.log(campo);
            HoldOn.open({
                theme: "sk-cube-grid",
                message: 'Por favor espere...',
                textColor: "white"
            });
            $.post("{{ path('app_plato_filtro') }}", {
                    campo: campo[1],
                    valor: state
                },
                function (data) {
                    toastr.success("Filtro aplicado correctamente.");
                    setTimeout(function () {
                        $(window).attr('location', window.location)
                    }, 500);
                    HoldOn.close()
                });

            // if (state) {
            //     console.log("El switch está en verde (ON).");
            // } else {
            //     console.log("El switch está en rojo (OFF).");
            // }
        });


        {# $('input[name*="check_"]').on('change', function (e) { #}
        {#    console.log($(this).val()) #}
        {#    var valor = $(this).val(); #}
        {#    var campo = e.currentTarget.id.split('_')[1]; #}
        {#    var id = e.currentTarget.id.split('_')[2]; #}
        {#    HoldOn.open({ #}
        {#        theme: "sk-cube-grid", #}
        {#        message: 'Por favor espere...', #}
        {#        textColor: "white" #}
        {#    }); #}
        {#    $.post("{{ path('app_red_social_guardar') }}", #}
        {#        { #}
        {#            id: id, #}
        {#            campo: campo, #}
        {#            valor: valor, #}
        {#        }, #}
        {#        function (data) { #}
        {#            toastr.success("El elemento ha sido modificado correctamente."); #}
        {#            setTimeout(function () { #}
        {#                $(window).attr('location', window.location) #}
        {#            }, 500); #}
        {#            HoldOn.close() #}
        {#        }); #}
        {# }) #}

    </script>
{% endblock %}